.btn{

    white-space: normal;
}
.orange {
    color: orange;
}

.bold {

    font-weight: bold;
}


.grey{

    color: grey;
}

.orange-border
{
    border-color: orange;
}


.center

{
    text-align: center;
    vertical-align: center;

}

.invisible{

    visibility: hidden;
    display: none;
}

.v-center

{
    vertical-align: center;

}