{% extends 'include.html' %}

{% block content %}
    <div class="col-sm-12">
    {% if TransactionSuccess != None %}
        {% if TransactionSuccess == True %}
        <div class="alert alert-success">
                <h4>Success! </h4>{{ TransactionMessage }}
        </div>
        {% else %}
                    <div class="alert alert-danger">
                <h4>Oops, that didn't work!</h4>{{ TransactionMessage }}
        </div>
        {% endif %}
    {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading"><h2>Sell Items</h2></div>
            <div class="panel-body">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>Sell a new item</h4></div>
                        <div class="panel-body">
                            <form name="additem" method="post" action="{% url 'dosellitem' %}" class="">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>Item Name</label><input required type="text" class="form-control" placeholder="Short name for the item" name="name"><br>
                                    <label>Item Description</label><input required type="text" class="form-control" placeholder="Description for the item" name="description"><br>
                                    <label>Face Value $</label><input required type="text" class="form-control" placeholder="Face value/purchase price" name="face_value"><br>
                                    <label>Price $</label><input required type="text" class="form-control" placeholder="Price you'd like to charge" name="exp_price"><br>
                                    <label>Listing Expires on</label><input required  type="date" class="form-control" placeholder="Default: 2 weeks" value="2018-01-28" name="expiry_date"><br>
                                    <label>Your E-mail</label><input required pattern="[a-z0-9._%+-]+@columbia.edu$" type="text" class="form-control" placeholder="@columbia.edu address required" name="seller"><br>
                                    <label>Your Venmo Handle</label><input required type="text" class="form-control" placeholder="Please double-check!" name="seller_venmo_handle"><br>
                                    </div>
                                <button type="submit" class="btn btn-primary">Submit offer</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>Add an offer for an existing item</h4></div>
                        <div class="panel-body">
                            <form id="" name="addoffer" method="post" action="{% url 'doselloffer' %}" class="">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="offereditem">Choose the item that you'd like to sell</label>
                                    <select required name="offereditem" id="offereditem" class="form-control">
                                        {% for item in items_for_sale %}
                                            <option selected disabled hidden style="display: none" value=""></option>
                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="formGroupExampleInput">Enter a price for the item</label>
                                    <input required type="text" class="form-control" id="formGroupExampleInput"
                                           placeholder="$" name="exp_price">
                                    <label>Your E-mail</label><input type="text" class="form-control" required pattern="[a-z0-9._%+-]+@columbia.edu$" placeholder="@columbia.edu address required" name="seller"><br>
                                    <label>Your Venmo Handle</label><input type="text" class="form-control" required placeholder="Please double-check!" name="seller_venmo_handle"><br>

                                </div>
                                <button type="submit" class="btn btn-primary">Submit offer</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}